body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #fff4c2;
}

.topnav {
    background: #ffe99a;
    color: #4a4a4a;
    padding: 15px 25px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

.menu-btn {
    position: absolute;
    right: 20px;  
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    cursor: pointer;
    color: #4a4a4a;
}

}
.side-menu {
    width: 190px;
    background: #ffe99a;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -210px;
    padding-top: 80px;
    transition: 0.4s;
    z-index: 9000;
    box-shadow: 2px 0 8px rgba(0,0,0,0.15);
}

.side-menu.show {
    left: 0;
}

.side-menu a {
    display: block;
    padding: 15px;
    color: #4a4a4a;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
}

.side-menu a:hover {
    background: rgba(255, 255, 255, 0.4);
}

.home {
    text-align: center;
    padding: 120px 20px 40px;
    background: #a9d6ff; 
    color: #4a4a4a;
}

.gambar-oval img {
    width: 160px;
    border-radius: 50%;
    border: 5px solid #fff4c2
}

.about, .galery, .contact {
    padding: 40px 20px;
    text-align: center;
    color: #4a4a4a;
}

.galery {
    background: #a9d6ff;
}

.card {
    background: #ffffff;
    padding: 10px;
    margin: 15px auto;
    border-radius: 12px;
    width: 90%;
    transition: 0.3s;
    border: 2px solid #ffe99a;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    background: #fff7d1;
}

.contact button {
    padding: 10px 20px;
    background: #ffd860;
    border: none;
    border-radius: 6px;
    color: #4a4a4a;
    font-weight: 600;
    cursor: pointer;
}

.contact button:hover {
    background: #fff4c2;
}

footer {
    text-align: center;
    padding: 20px;
    background: #a9d6ff;
    color: #4a4a4a;
}

.fade {
    animation: fadeIn 1.2s ease;
}

.slide-up {
    animation: slideUp 1s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes slideUp {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
}
