body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #fff4c2;
}

.topnav {
    background: #ffe99a;
    color: #4a4a4a;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.menu-btn {
    font-size: 24px;
    cursor: pointer;
    color: #333 !important;
    font-weight: bold;
}

.side-menu {
    width: 190px;
    background: #ffe99a;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -210px;
    padding-top: 80px;
    transition: 0.4s;
    z-index: 9000;
    box-shadow: 2px 0 8px rgba(0,0,0,0.15);
}

.side-menu.show {
    left: 0;
}

.side-menu.show {
    left: 0;
}

.side-menu a {
    display: block;
    padding: 15px;
    color: #4a4a4a;
    text-decoration: none;
}

.home {
    text-align: center;
    padding: 140px 20px 60px;
    background: #a9d6ff;
}

.profile {
    width: 150px;
    border-radius: 50%;
}

.section {
    padding: 40px 20px;
    text-align: center;
}

.blue {
    background: #a9d6ff;
}

.card {
    width: 90%;
    background: white;
    margin: 15px auto;
    padding: 12px;
    border-radius: 12px;
    border: 2px solid #ffe99a;
    transition: .3s;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.03);
}

.ig {
    font-size: 36px;
    color: #d62976;
}

footer {
    text-align: center;
    padding: 20px;
    background: #a9d6ff;
}
