body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #ffe6f2;
}

.topnav {
    background: #ff94c6;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
}

.menu-btn {
    font-size: 22px;
    cursor: pointer;
}

.side-menu {
    width: 200px;
    height: 100vh;
    background: #ffb6d9;
    position: fixed;
    top: 0;
    left: -230px;
    padding-top: 70px;
    transition: 0.4s;
}

.side-menu a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.side-menu a:hover {
    background: #ff80c3;
}

.show {
    left: 0;
}

.home {
    text-align: center;
    padding: 60px 20px;
}

.profile {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
    box-shadow: 0 0 10px #ff9ac9;
}

.home h1 {
    margin-top: 15px;
    color: #ff4fa1;
}

.home p {
    color: #d63384;
}

.section {
    padding: 40px 20px;
}

.section h2 {
    text-align: center;
    color: #ff4fa1;
    margin-bottom: 25px;
    border-bottom: 3px solid #ffb3d9;
    display: inline-block;
    padding-bottom: 5px;
}

.bio-table {
    width: 90%;
    max-width: 500px;
    margin: auto;
    border-collapse: collapse;
    font-size: 16px;
}

.bio-table td {
    padding: 10px;
    border-bottom: 1px solid #ffd0e6;
}

.gallery .card {
    background: white;
    width: 90%;
    max-width: 320px;
    margin: 15px auto;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 10px #ffc4dd;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
}

.gallery p {
    text-align: center;
    margin-top: 8px;
    color: #d63384;
}

.contact-section {
    text-align: center;
}

.ig {
    font-size: 40px;
    color: #ff4fa1;
}

footer {
    text-align: center;
    padding: 15px;
    background: #ff94c6;
    color: white;
    margin-top: 20px
}
